@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: rgb(23, 27, 29);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#music-outline {
  -webkit-text-stroke: 1px #23430C;
	text-shadow: -1px 1px 2px #23430C,
				  1px 1px 2px #23430C,
				  1px -1px 0 #23430C,
				  -1px -1px 0 #23430C;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

::-webkit-scrollbar-button:single-button {
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 94);
}
::-webkit-scrollbar-track {
  background: rgb(23, 27, 29);
}

@keyframes fade {
  from {
    transform: translateY(100vh) scale(0);
  }
  to {
    transform: translateY(0) scale(1);
  }
}


@for $i from 1 through 10 {
	header > :nth-child(#{$i}) {
    animation-name: fade;
    animation-timing-function: ease-in-out;
		animation-duration: 100 + ($i - 1) * 20ms;
	}
}